<div class="title">
  Log In
</div>

<div class="general-content">
  <form action="/auth/login" method="POST">
    <p class="field">
      <label for="email">Email</label>
      <input type="email" placeholder="me@domain.com" name="email" id="email">
    </p>

    <p class="field">
      <label for="password">Password</label>
      <input type="password" placeholder="hunter2" name="password" id="password">
    </p>

    <p class="field">
      <button class="button">Login</button>
    </p>
  </form>
</div>