<div class="general-content">
  <h1>What is this?</h1>

  <p>
    This web app is built to make 3D printing many files across multiple MakerBot
    printers as easy as possible. It's mainly built for large public areas such as
    makerspaces, where there might not be a staff member there to moderate printer
    usage at all times. With multiple user support, it gets rid of traditional print
    queues and paper lists since everything is done totally automatically.
  </p>

  <h1>Can I run this myself?</h1>

  <p>
    Yes! This app is open source, and meant to be self-hosted. If you want to run this
    at your own school, makerspace, etc. then simply head over to the GitHub page and
    learn how to set it up. Note that you'll have to have at least some experience with
    terminals, and a dedicated server box that you'll be able to run on your network
    (a Raspberry Pi should do).
  </p>
</div>