<div class="title">
  <%= print.name %>
</div>

<div class="general-content">
  <a href="/prints/<%= print.id %>/cancel" class="button">Cancel Print</a>
  <br><br>
  <img src="/printers/<%= print.printer %>/camera.jpg">
</div>